header {
  height: 56px;
}

main {
  min-height: calc(100vh - 176px);
}

footer {
  height: 120px;
}

.logo {
  font-family: "Merienda", cursive;
  font-style: italic;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
}
