.card-poster {
  height: 340px;
}

.card-body {
  width: 210px;
}

.card {
  width: 250px;
  transition: all 0.7s;
}

.card:hover {
  scale: 1.05;
}

.section-title-before,
.section-title-after {
  height: 1px;
}

#weekly-box-office-box {
  height: 70vh;
}
